################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/ConsoleZip/bin/Debug
/ConsoleZip/obj/Debug
/packages/DotNetZip.1.13.8
/.vs/ConsoleZip/v16
/packages/SharpZipLib.1.3.1
